VITE_FIREBASE_CONFIG={"apiKey":"...","authDomain":"...","projectId":"...","storageBucket":"...","messagingSenderId":"...","appId":"..."}
VITE_FIREBASE_APP_ID=MEVCUT_UYGULAMA_KIMLIGI
FIREBASE_APP_ID=MEVCUT_UYGULAMA_KIMLIGI
ADMIN_USERNAME=YONETICI_KULLANICI_ADI
ADMIN_PASSWORD=YONETICI_SIFRESI
FIREBASE_ADMIN_PROJECT_ID=MEVCUT_FIREBASE_PROJESI
FIREBASE_ADMIN_CLIENT_EMAIL=SERVIS_HESABI_EPOSTASI
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
APP_URL=https://YENI_CANLI_ADRES.vercel.app
